<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Amendis{% endblock %}</title>

    <!-- Lien vers Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Lien vers tailwind config personnalisé -->
    <script src="{{ url_for('static', filename='js/tailwind-config.js') }}"></script>

    <!-- Lien vers CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo2.png') }}">
</head>

<body>

    {% include 'nav.html' %}

    <main class="pt-16">
        {% block content %}{% endblock %}
    </main>

</body>

</html>
