{% extends 'base.html' %}

{% block title %}
    Marchés attribués
{% endblock %}

{% block content %}
    <div class="container mx-auto px-4 py-6">
        <h1 class="text-center text-3xl sm:text-5xl font-bold text-popping_red p-4">Marchés Attribués</h1>

        <div class="mb-4 flex justify-between">
            <p></p>
            <input type="text" id="searchInput" class="px-4 py-2 border border-gray-300 rounded" placeholder="Rechercher par site, n° AO, désignation..." oninput="filterTable()">
        </div>
        <div class="overflow-x-auto">
            <table id="marchesTable" class="min-w-full bg-white shadow-md rounded-lg overflow-hidden border-b border-gray">
                <thead class="text-white bg-gradient-to-l from-[#333]  to-[#fa0504]">
                    <tr>
                        <th class="px-4 py-2 text-center">Site</th>
                        <th class="px-4 py-2 text-center">N° AO</th>
                        <th class="px-4 py-2 text-center">Désignation</th>
                        <th class="px-4 py-2 text-center">Ouverture Financière</th>
                        <th class="px-4 py-2 text-center">Montant DH HT</th>
                        <th class="px-4 py-2 text-center">Attributaire</th>
                        {% if session['user_type'] == 'user' and current_user.role == 'admin' %}
                        <th class="px-4 py-2 text-center">Détail</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody id="tableBody">
                    {% for contrat in contrats %}
                    <tr class="hover:bg-gradient-to-l from-[#d9d9d9]  to-[#fecdcd] border-b">
                        <td class="border-y px-4 py-2 text-sm text-center">{{ contrat.appel_offre.titre }}</td>
                        <td class="border-y px-4 py-2 text-sm text-center">{{ contrat.appel_offre.id }}</td>
                        <td class="border-y px-4 py-2 text-sm text-center">{{ contrat.appel_offre.description }}</td>
                        <td class="border-y px-4 py-2 text-sm text-center">{{ contrat.date_attribution.strftime('%d-%m-%Y') }}</td>
                        <td class="border-y px-4 py-2 text-sm text-center">{{ contrat.valeur_contrat }} DH</td>
                        <td class="border-y px-4 py-2 text-sm text-center">{{ contrat.fournisseur.nom }}</td>
                        {% if session['user_type'] == 'user' and current_user.role == 'admin' %}
                        <td class="px-4 py-2 text-blue-600 hover:text-blue-800 text-center">
                            <a href="{{ url_for('marchesattribues_details', id=contrat.id) }}">
                                <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier"> 
                                        <path opacity="1" d="M16.19 2H7.81C4.17 2 2 4.17 2 7.81V16.18C2 19.83 4.17 22 7.81 22H16.18C19.82 22 21.99 19.83 21.99 16.19V7.81C22 4.17 19.83 2 16.19 2Z" fill="#d9d9d9"></path> 
                                        <path d="M11.9995 10.6899C11.2795 10.6899 10.6895 11.2799 10.6895 11.9999C10.6895 12.7199 11.2795 13.3099 11.9995 13.3099C12.7195 13.3099 13.3095 12.7199 13.3095 11.9999C13.3095 11.2799 12.7195 10.6899 11.9995 10.6899Z" fill="#DA0000"></path> 
                                        <path d="M6.99945 10.6899C6.27945 10.6899 5.68945 11.2799 5.68945 11.9999C5.68945 12.7199 6.27945 13.3099 6.99945 13.3099C7.71945 13.3099 8.30945 12.7199 8.30945 11.9999C8.30945 11.2799 7.71945 10.6899 6.99945 10.6899Z" fill="#DA0000"></path> 
                                        <path d="M16.9995 10.6899C16.2795 10.6899 15.6895 11.2799 15.6895 11.9999C15.6895 12.7199 16.2795 13.3099 16.9995 13.3099C17.7195 13.3099 18.3095 12.7199 18.3095 11.9999C18.3095 11.2799 17.7195 10.6899 16.9995 10.6899Z" fill="#DA0000"></path> 
                                    </g></svg>
                            </a>
                        </td>
                        {% endif %}
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="7" class="border-y px-4 py-2 text-sm text-center text-gray-500">Aucune donnée disponible</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        function filterTable() {
            const input = document.getElementById('searchInput');
            const filter = input.value.toLowerCase();
            const rows = document.getElementById("tableBody").getElementsByTagName('tr');
            
            Array.from(rows).forEach(function(row) {
                const columns = row.getElementsByTagName('td');
                let match = false;
                
                // Vérifie chaque cellule de la ligne pour une correspondance
                Array.from(columns).forEach(function(column) {
                    if (column.textContent.toLowerCase().indexOf(filter) > -1) {
                        match = true;
                    }
                });
                
                // Affiche ou cache la ligne en fonction de la correspondance
                if (match) {
                    row.style.display = "";
                } else {
                    row.style.display = "none";
                }
            });
        }
        </script>
{% endblock %}
